<div class="virtual-view-container">
    <div class="primary"></div>
    <div class="secondary"></div>
    <div class="secondary"></div>
    <div class="primary"></div>
    <div class="primary"></div>
    <div class="secondary"></div>
</div>
<button class="b-view-button">ButtonB</button>
<button class="promise-button">CLICK</button>
<button class="promise-button-5">CLICK 5</button>
<button class="promise-button-7">CLICK 7</button>
<button class="original-button">Original</button>
<button class="orange-blue-button">Orange&Blue</button>
<button class="sound-button">Sound</button>
