.test-virtual-view-view {
    div {
        width: 100%;
        text-align: center;
    }

    .virtual-view-container {
        font-size: 60px;
        background-color: #F05382;

        .content {
            margin-top: 1872px;
        }
    }


}